@page
@model DoctorApp.Pages.ReferralLetters.IndexModel
@{
	ViewData["title"] = "Issued Referral Letters";
}

<h3>@ViewData["title"]</h3>
<hr />

<table id="example" data-sortable="true" class="table table-striped table-responsive table-hover">
	<thead>
		<tr>
			<th data-field="Id" data-sortable="true">
				@Html.DisplayNameFor(model => model.ReferralLetters[0].Id)
			</th>
			<th data-field="CreatedDateTime" data-sortable="true">
				@Html.DisplayNameFor(model => model.ReferralLetters[0].CreatedDateTime)
			</th>
			<th data-field="PtAccNumber" data-sortable="true">
				@Html.DisplayNameFor(model => model.ReferralLetters[0].PtAccNumber)
			</th>
			<th data-field="DrLName" data-sortable="true">
				@Html.DisplayNameFor(model => model.ReferralLetters[0].DrLName)
			</th>
			<th data-field="DrFName" data-sortable="true">
				@Html.DisplayNameFor(model => model.ReferralLetters[0].DrFName)
			</th>
			<th data-field="FileName" data-sortable="true">
				@Html.DisplayNameFor(model => model.ReferralLetters[0].FileName)
			</th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null && Model.ReferralLetters.Any())
		{
			@foreach (var letter in Model.ReferralLetters)
			{
				<tr>
					<td>
						@Html.DisplayFor(item => letter.Id)
					</td>
					<td>
						@(letter.CreatedDateTime.ToString("yyyy - MM - dd hh:mm:ss tt"))
					</td>
					<td>
						@Html.DisplayFor(item => letter.PtAccNumber)
					</td>
					<td>
						@Html.DisplayFor(item => letter.DrLName)
					</td>
					<td>
						@Html.DisplayFor(item => letter.DrFName)
					</td>
					<td>
						@Html.DisplayFor(item => letter.FileName)
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="5" class="text-center">
					Referral Letters not available at this moment.
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {
	<script>
		$('document').ready(function () {
			$('#example').bootstrapTable();
		})
	</script>
}